@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@Html.Label("Current Password")
@Html.TextBox("CurrentPassword")
<br />
	
@Html.Label("New Password")
	<em class="purple"><small>To ensure account security, password must be at least 8 characters long, contain at least 1 uppercase letter, 1 lowercase letter and 1 number - can contain special characters.</small></em><br>
@Html.TextBox("NewPassword")
<br />
	
@Html.Label("Confirm New Password")
@Html.TextBox("ConfirmNewPassword")
<br />

<button type="submit" class="btn hri-btn">Change Password</button>