@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@Html.Label("Current Password")
@Html.TextBox("CurrentPassword")
<br />
	
@Html.Label("New Email")
@Html.TextBox("NewEmail")
<br />
	
@Html.Label("Confirm New Email")
@Html.TextBox("ConfirmNewEmail")
<br />

<button type="submit" class="btn hri-btn">Change Email</button>