@inherits UmbracoTemplatePage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using HRI.Controllers
@using HRI.Models

@{
    var changePasswordViewModel = new ChangePasswordViewModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@Html.Raw(Html.RenderJsHere())

@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    @Umbraco.Field("successMessage")
    return;
}

@using (Html.BeginUmbracoForm<MembersSurfaceController>("ChangePassword"))
{
    <fieldset>
        <h3>Change Password</h3>

        @Html.ValidationSummary("changePasswordViewModel", true)
        @Html.AntiForgeryToken()

        @Html.Label("Current Password")
        @Html.PasswordFor(m=>changePasswordViewModel.OldPassword)
        @Html.ValidationMessageFor(m => changePasswordViewModel.OldPassword)
        <br />

        @Html.Label("New Password")
        <em class="purple"><small>To ensure account security, password must be at least 8 characters long, contain at least 1 uppercase letter, 1 lowercase letter, and 1 number.</small></em><br>
        @Html.PasswordFor(m => changePasswordViewModel.NewPassword)
        @Html.ValidationMessageFor(m => changePasswordViewModel.NewPassword)
        <br />

        @Html.Label("Confirm New Password")
        @Html.PasswordFor(m => changePasswordViewModel.ConfirmNewPassword)
        @Html.ValidationMessageFor(m => changePasswordViewModel.ConfirmNewPassword)
        
        <br />

        <button type="submit" class="btn hri-btn">Submit</button>
    </fieldset>
}
