@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    // Grab a handle to the homepage
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // The menu items we want are all of the children of the homepage unless marked not visible
    var menuItems = homePage.Children.Where("navigationVisibility!=15");      

}
	
<div class="footer row">
  <div class="row-fluid contacts">
    <div class="span8 questions"><h5>Questions? ¿Preguntas? Llame 有問題嗎？叫<br>Call @Html.Raw(homePage.phoneNumber)</h5></div>

    <div class="span4">
      <a href="@Html.Raw(homePage.facebookLink)" target="_blank">
        <img src="/images/icon_facebook.png"
             style="max-width: 15%">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="@Html.Raw(homePage.twitterLink)" target="_blank">
        <img src="/images/icon_twitter.png"
             style="max-width: 15%">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="@Html.Raw(homePage.linkedInLink)"
         target="_blank">
        <img src="/images/icon_linkedin.png"
             style="max-width: 15%">
      </a>
    </div>
  </div>
  <div class="row-fluid nav">
	@*Check to see if the user has been authenticated*@
	@if(User.Identity.IsAuthenticated)
	{
		@*@* User authenticated *@
        @* Go through each navigation item that is visible in the footer(12 = header only) and is for members(9 = public only) *@ 
		foreach (var item in menuItems.Where("navigationVisibility!=12").Where("accessAvailability!=9"))
		{
			<div>
				<ul>
                    <li>@Html.Raw(item.menuItemName)</li>
                    @* if the number of non-hidden items is greater than 0 *@
                    @if (item.Children.Where("navigationVisibility!=15").Count() > 0)
                    {
                        @* Go through each navigation item that is visible in the header(12 = header only) and is for members(9 = public only) *@
                        foreach (var subpage in item.Children.Where("navigationVisibility!=12"))
                        {
                            if (subpage.NodeTypeAlias == "ExternalFile")
                            {
                                <li><a href="@subpage.file" target="_blank">@Html.Raw(subpage.menuItemName)</a></li>
                            }
                            else
                            {
                                <li><a href="@subpage.Url">@Html.Raw(subpage.menuItemName)</a></li>
                            }
                        }
                    }
                    else
                    {
                        if (item.Children.Count() > 0)
                        {
                            <li><a href="@item.Children.First().Url">@Html.Raw(@item.Children.First().menuItemName)</a></li>
                        }
                    }
				</ul>
			</div>
		} 
	}
	else	
	{
		@* The user is not authenticated *@
		@* Go through each navigation item that is visible in the footer(12 = header only) and is for public(10 = members only) *@ 
		foreach (var item in menuItems.Where("navigationVisibility!=12").Where("navigationVisibility!=15").Where("accessAvailability!=10"))
		{
			<div>
				<ul>
					<li>@Html.Raw(item.menuItemName)</li>
					@* if the number of non-hidden items is greater than 0 *@
					@if(item.Children.Where("navigationVisibility!=15").Count() > 0)
					{
						@* Go through each navigation item that is visible in the header(12 = header only) and is for public(10 = members only) *@ 
                        foreach (var subpage in item.Children.Where("navigationVisibility!=12").Where("navigationVisibility!=15"))
						{
							if(subpage.NodeTypeAlias == "ExternalFile")
							{
								<li><a href="@subpage.file" target="_blank">@Html.Raw(subpage.menuItemName)</a></li>
							}
							else
							{
								<li><a href="@subpage.Url">@Html.Raw(subpage.menuItemName)</a></li>
							}
						}
					}
					else
					{
						if(item.Children.Count() > 0)
						{
							<li><a href="@item.Children.First().Url">@Html.Raw(@item.Children.First().menuItemName)</a></li>
						}
					}
				</ul>
			</div>
		}
	}
  </div>
	  	  
	  
  <div class="row-fluid disclaimer">
    <p>
      Freelancers Health Service Corporation DBA Health Republic Insurance of New York (HRINY) is a 501(c)(29)
      tax-exempt corporation, licensed under Article 43 of the New York Insurance Law. This website is provided
      for informational purposes only, and is not a solicitation or an offering to provide insurance. HRINY is
      open for enrollment both on and off the New York State Health Benefit Exchange. HRINY is not owned or
      controlled by Freelancers Union.
    </p>

    <p class="terms">
      <a target="_blank" href="/media/1029/ny-privacypolicy.pdf">
        Privacy
        Policy
      </a>|<a target="_blank" href="/media/1028/ny-termsofuse.pdf">
        Terms of
        Use
      </a>
    </p>

  </div>
</div>