@using ClientDependency.Core.Mvc
@using HRI.Models
@using HRI.Controllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = null;
    
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

	var forgotUserNameViewModel = new ForgotUserNameViewModel();

    var homePage = CurrentPage.AncestorsOrSelf(1).First(); 
}

@Html.RenderJsHere()

@if (TempData["ForgotUsernameIsSuccessful"] != null)
{
    if(Convert.ToBoolean(TempData["ForgotUsernameIsSuccessful"]))
    {
        <h3>Membership information found!</h3>
        <p>We have located your account and sent you an email containing your username.</p>
    }
    else
    {
        if (Convert.ToBoolean(TempData["EmailNotFound"]))
        {
            @Html.ValidationSummary(true)
            <h3 class="purple">Member not found</h3>
            <p>No member with that email was able to be found. Please make sure the email address you entered was correct.</p>
            <p>If you believe this is an error, please contact us directly on our telephone help line: @Html.Raw(homePage.phoneNumber).</p>
            <p>@Html.ValidationSummary("forgotUserNameViewModel", false)</p>
        }
        else
        {
            @Html.ValidationSummary(true)
            <h3>Membership look up failed.</h3>
            <p>We apologize, but something seems to have gone wrong with looking up your username. Our site administrator has been notified.</p>
            <p>Please contact us directly on our telephone help line: @Html.Raw(homePage.phoneNumber).</p>
            <p>@Html.ValidationSummary("forgotUserNameViewModel", false)</p>
        }
    }
}
else
{
    using (Html.BeginUmbracoForm<EmailSurfaceController>("ForgotUserName"))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("forgotUserNameViewModel", false)
        @Html.Label("Your Registered Email")
        @Html.TextBoxFor(m => forgotUserNameViewModel.Email)
        @Html.ValidationMessageFor(m => forgotUserNameViewModel.Email)
        <br />

    <button type="submit" class="btn hri-btn disable-after-click">Submit</button>
    }
}