@using ClientDependency.Core.Mvc
@using HRI.Controllers
@using HRI.Models
@inherits UmbracoTemplatePage

@{
    Layout = null;

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);

    var model = new ForgotPasswordViewModel();
}

@Html.Raw(Html.RenderJsHere())

@if(((bool?)TempData["ForgotPasswordIsSuccessful"]).GetValueOrDefault())
{     
    <span>A message has been sent to your email: @TempData["memberEmail"]. Click the link in the email to reset your password.</span>
    <br><br>
    <p style="text-align:center"><a href="/for-members/login">Click Here</a> to login.</p>
    return;
}

@using (Html.BeginUmbracoForm<EmailSurfaceController>("ForgotPassword"))
{
    <fieldset>
        @Html.ValidationSummary("model", false)
        @Html.AntiForgeryToken()

        @Html.Label("Username")
        @Html.TextBoxFor(m => model.UserName, new { id = "focus" })
        @Html.ValidationMessageFor(m => model.UserName)
        <br />

        <button type="submit" class="btn hri-btn disable-after-click">Submit</button>
    </fieldset>
}

<script>
    document.getElementById('focus').focus();
</script>