@using ClientDependency.Core.Mvc
@using HRI.Controllers
@using HRI.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = null;

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

    var model = new ForgotPasswordViewModel();
}
@if(TempData["ForgotPasswordIsSuccessful"] != null)
{ 
    <span>An message has been sent to your email. Click the link in the email to reset your password.</span>
}
else
{ 
    using (Html.BeginUmbracoForm<EmailSurfaceController>("ForgotPassword"))
    {
        <fieldset>
            @Html.ValidationSummary("model", false)
            @Html.AntiForgeryToken()

            @Html.Label("User Name")
            @Html.TextBoxFor(m => model.UserName, new { id = "focus" })
            @Html.ValidationMessageFor(m => model.UserName)
            <br />

            <button type="submit" class="btn hri-btn disable-after-click">Submit</button>
        </fieldset>
    }


    <script>
        document.getElementById('focus').focus();
    </script>
}