@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Grab a handle to the homepage
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // The menu items we want are all of the children of the homepage unless marked hidden
    var menuItems = homePage.Children.Where("navigationVisibility!=15");
                      
}

<div id="header" class="row-fluid">
  <div id="masthead" class="row-fluid">
    <div class="span3">
      <a href="@homePage.Url">
        <div class="logo-sm">
          <h1>Health Republic Insurance</h1>
        </div>
      </a>
    </div>
    <div class="span9">
      <div class="navigation pull-right">
        <ul class="nav-site unstyled inline">
          
            @*Check to see if the user has been authenticated*@
            @if(User.Identity.IsAuthenticated)
            {                 
                @* User authenticated *@
                @* Go through each navigation item that is visible in the header(13 = footer only) and is for members(9 = public only) *@                
                foreach (var item in menuItems.Where("navigationVisibility!=13").Where("navigationVisibility!=15").Where("accessAvailability!=9"))
			    {
                    @* if the number of non-hidden items is greater than 0 *@
                    if (item.Children.Where("navigationVisibility!=15").WhereHasAccess().Count() > 0)
				    {
                        @* Create the navigation item *@
					    <li class="dropdown">
					        <a href="" data-toggle="dropdown" class="dropdown-toggle">@Html.Raw(item.menuItemName)<span class="caret"></span></a>
                            @* Create all the sub items *@
					        <ul class="dropdown-menu">
                                @* For each item that is visible in the header and is for members12*@
							    @foreach (var subpage in item.Children.Where("navigationVisibility!=13").WhereHasAccess())
							    {
                                    @* If it is a media file link it to the document set in umbraco backend content panel *@
								    if(subpage.NodeTypeAlias == "ExternalFile")
								    {
									    <li class="sub-link"><a href="@subpage.Field("file")">@Html.Raw(subpage.menuItemName)</a></li>
								    }
								    else
								    {
									    <li class="sub-link"><a href="@subpage.Url">@Html.Raw(subpage.menuItemName)</a></li>
                                        @*string text = subpage.menuItemName;
                                        string action = subpage.Name;
                                        string surfaceController = item.Name + "SurfaceController";                                    
									    <li class="sub-link">@Html.ActionLink(action, action, surfaceController)</li>*@                                        
								    }
							    }
					        </ul>
					    </li> 
				    }
                    @* If there are no visible links under this nav item *@
				    else if (item.HasAccess())
				    {
                        @* Create the nav item as a link to the first node under the Nav item in the Umbraco backend content panel *@
					    <li>
						    <a href='@(item.Children.Count() > 0 ? @item.Children.First().Url : "#")' class="dropdown-toggle">@Html.Raw(item.menuItemName)</a>
					    </li>
				    }                    
			    }    
            }
            @*Not authenticated user*@
            else
            {
                @* Link to home page *@
                <li class="menu-item short"><a href="@homePage.Url">Home</a></li>
                
                @* Go through each navigation item that is visible in the header(13 = footer only) and is for public(10 = members only) *@
                foreach (var item in menuItems.Where("navigationVisibility!=13").Where("accessAvailability!=10"))
                {
                    @* if the number of non-hidden items is greater than 0 *@
                    if (item.Children.Where("navigationVisibility!=15").Count() > 0)
                    {
                        @* Create the navigation item *@
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown" class="dropdown-toggle">@Html.Raw(item.menuItemName)<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var subpage in item.Children.Where("navigationVisibility!=13").Where("navigationVisibility!=15"))
                                {
                                    if (subpage.NodeTypeAlias == "ExternalFile")
                                    {
                                        <li class="sub-link"><a href="@subpage.Field("file")">@Html.Raw(subpage.menuItemName)</a></li>
                                    }
                                    else
                                    {
                                        <li class="sub-link"><a href="@subpage.Url">@Html.Raw(subpage.menuItemName)</a></li>
                                        @*string text = subpage.menuItemName;
                                        string action = subpage.Name;
                                        string surfaceController = item.Name + "SurfaceController";
                                        <li class="sub-link">@Html.ActionLink(action, action, surfaceController)</li>*@                                        
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {                        
                        <li><a href='@(item.Children.Count() > 0 ? @item.Children.First().Url : "#")' class="dropdown-toggle">@Html.Raw(item.menuItemName)</a></li>
                    }
                }
            }                
        </ul>

      </div>
      <!-- masthead -->

    </div>
  </div>
  <!-- header-row -->
</div>