@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using HRI.Controllers

@inherits UmbracoTemplatePage

@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@Html.Raw(Html.RenderJsHere())

@using (Html.BeginUmbracoForm<LoginSurfaceController>("HandleLogin"))
{
    <fieldset>
        <h3>Member Login</h3>
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary("loginModel", true).ToHtmlString()))
        }
        @Html.AntiForgeryToken()

        @Html.LabelFor(m => loginModel.Username)
        @Html.TextBoxFor(m => loginModel.Username, new{id="focus"})
        @Html.ValidationMessageFor(m => loginModel.Username)
        <br />

        @Html.LabelFor(m => loginModel.Password)
        @Html.PasswordFor(m => loginModel.Password)
        @Html.ValidationMessageFor(m => loginModel.Password)
        <br />

        <button class="btn hri-btn disable-after-click">Login</button>
    </fieldset>  
}

<script>
    document.getElementById('focus').focus();
</script>