@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using HRI.Controllers
@using HRI.Models

@{
    var changePasswordViewModel = new ChangePasswordViewModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}


@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <h3>Success!</h3>
    <p>Your password has been updated. You may use it the next time you sign in.</p>
}
else
{
    using (Html.BeginUmbracoForm<MembersSurfaceController>("ResetPassword"))
    {
        <fieldset>
            <legend>Change Password</legend>

            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()


            @Html.Label("New Password")
            <em class="purple"><small>To ensure account security, password must be at least 8 characters long, contain at least 1 uppercase letter, 1 lowercase letter and 1 number - can contain special characters.</small></em><br>
            @Html.PasswordFor(m => changePasswordViewModel.NewPassword)
            @Html.ValidationMessageFor(m => changePasswordViewModel.NewPassword)
            <br />

            @Html.Label("Confirm New Password")
            @Html.Password("NewPassword")

            <br />

            <button type="submit" class="btn hri-btn">Change Password</button>
        </fieldset>
    }
}
