@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using HRI.Controllers
@using HRI.Models

@inherits UmbracoTemplatePage

@{
    var sendVerificationLinkModel = new SendVerificationLinkModel { RedirectUrl = "/for-members/verify-account/" };

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@Html.Raw(Html.RenderJsHere())

@if (((bool?)TempData["ResendEmailAlreadyVerified"]).GetValueOrDefault())
{
    <p>This account has already been verified!</p>
    return;
}

@using (Html.BeginUmbracoForm<EmailSurfaceController>("SendVerificationLink"))
{
    <fieldset>
        @Html.ValidationSummary("sendVerificationLinkModel", true)
        @Html.AntiForgeryToken()

        @Html.LabelFor(m => sendVerificationLinkModel.UserName)
        @Html.TextBoxFor(m => sendVerificationLinkModel.UserName, new { id = "focus" })
        @Html.ValidationMessageFor(m => sendVerificationLinkModel.UserName)

        @Html.HiddenFor(m => sendVerificationLinkModel.RedirectUrl)
        <button class="btn hri-btn disable-after-click">Send Verification Email</button>
    </fieldset>
}

<script>
    document.getElementById('focus').focus();
</script>