@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using HRI.Controllers
@using HRI.Models

@{
    var resetModel = new ResetPasswordViewModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@using (Html.BeginUmbracoForm<MembersSurfaceController>("ResetPassword"))
{
    <fieldset>
        <legend>Reset Password</legend>

        @Html.Label("New Password")
        <em class="purple"><small>To ensure account security, password must be at least 8 characters long, contain at least 1 uppercase letter, 1 lowercase letter and 1 number - can contain special characters.</small></em><br>
        @Html.TextBoxFor(m => resetModel.newPassword)
        @Html.ValidateFor(m => resetModel.newPassword)
        <br />

        @Html.Label("Confirm New Password")
        @Html.TextBox("ConfirmNewPassword")
        <br />

        <button type="submit" class="btn hri-btn">Reset Password</button>
    </fieldset>
}