@using HRI.Models
@using HRI.Services
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Grab a handle to the homepage
    var sitemapService = new SiteMapService();
    var maxLevelForSitemap = 4;
    var homeList = sitemapService.List(maxLevelForSitemap);
}

@* Render the sitemap by passing the root node to the traverse helper *@
<div class="sitemap">
    @Traverse(homeList)
</div>

@* Helper method to travers through all descendants *@
@helper Traverse(IList<SiteMapItem> nodes)
{
    @* If any items are returned, render a list *@
    if (nodes.Any())
    {
        <ul>
            @foreach (var item in nodes)
            {
                <li class="level-@item.Level">
                    @if(item.Children.Any())
					{
						@item.Name
					}
					else
					{						
						<a href="@item.Url">@item.Name</a>
					}

                    @* Run the traverse helper again *@
                    @Traverse(item.Children)
                </li>
            }
        </ul>
    }
}