@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
        var homePage = CurrentPage.AncestorsOrSelf(1).First();
}
	
<div class="row-fluid">
  <div class="span6">
    <h5 class="topnav-heading">Questions? ¿Preguntas? Llame 有問題嗎？叫 @Html.Raw(homePage.phoneNumber)</h5>
  </div>
  <div class="span6 nav-user pull-right">
      @if (User.Identity.IsAuthenticated)
      {
          if (@Members.GetByUsername(User.Identity.Name) != null)
          { 
              <span>Hello, @Members.GetByUsername(User.Identity.Name).GetPropertyValue("firstName", User.Identity.Name) | @Html.ActionLink("Log out", "Logout", "MembersSurface")</span>
          }
          else
          {
            <span>Hello, Previewer | @Html.ActionLink("Log out", "Logout", "MembersSurface")</span>
          }
      }
      else
      {
          if (@Model.Content.Name != "Index" && @Model.Content.Name != "Maintenance Home")
          {
            <span class="icon"></span><a href="~/for-members/login">Member Login</a> 
          }
      }

  </div>
</div>