@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}

<div class="hri-common-hp row-fluid">
    <div class="span8">

        <div id="hri-carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item">
                    <div class="slide">
                        @{
                            if(CurrentPage.HasValue("Image1Caption"))
                            {
                                <h1>@Umbraco.Field("Image1Caption")</h1>
                            }
                        }                       
                        <a href='@Umbraco.Field("Image1Href")' class="btn btn-small hri-btn">
                            @Umbraco.Field("Image1ButtonText")<span class="caret"></span>
                        </a>
                    </div>
                    @{
                        if (CurrentPage.HasValue("Image1")){
                            var dynamicMediaItem = Umbraco.Media(CurrentPage.Image1);
                            <img src="@dynamicMediaItem.umbracoFile" alt="@dynamicMediaItem.Name" />
                        }
                    }
                </div>
                <div class="item">
                    <div class="slide">
                        @{
                            if (CurrentPage.HasValue("Image2Caption"))
                            {
                                <h1>@Umbraco.Field("Image2Caption")</h1>
                            }
                        }
                        <a href='@Umbraco.Field("Image2Href")' class="btn btn-small hri-btn">
                            @Umbraco.Field("Image2ButtonText")<span class="caret"></span>
                        </a>
                    </div>
                    @{
                        if (CurrentPage.HasValue("Image2"))
                        {
                            var dynamicMediaItem = Umbraco.Media(CurrentPage.Image1);
                            <img src="@dynamicMediaItem.umbracoFile" alt="@dynamicMediaItem.Name" />
                        }
                    }
                </div>
                <div class="item">
                    <div class="slide">
                        @{
                            if (CurrentPage.HasValue("Image3Caption"))
                            {
                                <h1>@Umbraco.Field("Image3Caption")</h1>
                            }
                        }
                        <a href='@Umbraco.Field("Image3Href")' class="btn btn-small hri-btn">
                            @Umbraco.Field("Image3ButtonText")<span class="caret"></span>
                        </a>
                    </div>
                    @{
                        if (CurrentPage.HasValue("Image3"))
                        {
                            var dynamicMediaItem = Umbraco.Media(CurrentPage.Image1);
                            <img src="@dynamicMediaItem.umbracoFile" alt="@dynamicMediaItem.Name" />
                        }
                    }
                </div>                
            </div>

            <ol class="carousel-indicators">
                <li data-target="#hri-carousel" data-slide-to="0" class=""></li>
                <li data-target="#hri-carousel" data-slide-to="1" class=""></li>
                <li data-target="#hri-carousel" data-slide-to="2" class="active"></li>
            </ol>
        </div>
    </div>

    <div class="span4 widgets">
        <div class="row">
            <a href="#" class="hp-plan-desc blue first">

                <h3>Individual and Family</h3>

                <p>New Yorkers can select from several options to get lower... &gt;</p>

            </a>
        </div>
        <div class="row">
            <a href="#" class="hp-plan-desc purple">

                <h3>Small Group</h3>

                <p>Now you can ensure competitive health care benefits and get the... &gt;</p>

            </a>
        </div>
        <div class="row">
            <a href="#" class="hp-plan-desc green">

                <h3>Broker</h3>

                <p>Find out why brokers appreciate our health care plans, which are... &gt;</p>
            </a>
        </div>
    </div>
</div>

<div class="bottom-cta row-fluid">
    <div class="span4">
        <h4>Find a provider</h4>

        <p>
            We're proud to be using the MagnaCare Extra network, with access to thousands of doctors, specialists,
            hospitals and other healthcare providers.
        </p>
        <a href="#">Search Provider Network &gt;</a>
    </div>

    <div class="span4">
        <h4>Medication coverage</h4>

        <p>We’ve partnered with US Script to ensure access to the medications you need, when you need them. </p>
        <a href="#">Download Formulary (PDF) &gt;</a>
    </div>

    <div class="span4">
        <h4>Special announcement</h4>

        <p>
            Lorem ipsum dolor sit amet, consectet adipiscing elit. Nulla et viverra ipsum, ut condimentum magna. Lorem
            ipsum.
        </p>
        <a href="#">Lorem Ipsum Dolar Septa &gt;</a>
    </div>
</div>