@using HRI.Models

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}

<div class="hri-contact-us">
    @Umbraco.Field("HeaderMessage")
 
    <div class="row-fluid">
        <div class="span6">
            @{Html.RenderPartial("ContactForm");}
        </div>
        <div class="span6 help">
            <div class="row">
                <p class="phone">
                    <span>@Umbraco.Field("Phone")</span><br>
                    @Umbraco.Field("Schedule")</p><br>
 
                @Umbraco.Field("Address")<br>
         
                @Umbraco.Field("AdditionalInformation")
 
            </div>
        </div>
    </div>
</div>