@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}

<div class="hri-common-hp row-fluid">
    <div class="span8">

        <div id="hri-carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                @Umbraco.Field("Slides")               
            </div> 
            <!-- Carousel slide indicator -->
            <ol class="carousel-indicators">
                @Umbraco.Field("slideIndicator")
            </ol>                    
        </div>
    </div>

    <div class="span4 widgets">
        <div class="row">
            <a href="@Umbraco.Field("Plan1Url")" class="hp-plan-desc blue first">

                <h3>@Umbraco.Field("Plan1Caption")</h3>

                @if (Umbraco.Field("Plan1Text").ToString().Length > 60)
                {
                    <p>@Umbraco.Field("Plan1Text").ToString().Substring(0, 60) &gt;</p>
                }
                else
                {
                    <p>@Umbraco.Field("Plan1Text").ToString()</p>
                }

            </a>
        </div>
        <div class="row">
            <a href="@Umbraco.Field("Plan2Url")" class="hp-plan-desc purple">

                <h3>@Umbraco.Field("Plan2Caption")</h3>

                @if (Umbraco.Field("Plan2Text").ToString().Length > 60)
                {
                    <p>@Umbraco.Field("Plan2Text").ToString().Substring(0, 60) &gt;</p>
                }
                else
                {
                    <p>@Umbraco.Field("Plan2Text").ToString()</p>
                }

            </a>
        </div>
        <div class="row">
            <a href="@Umbraco.Field("Plan3Url")" class="hp-plan-desc green">

                <h3>@Umbraco.Field("Plan3Caption")</h3>

                @if (Umbraco.Field("Plan3Text").ToString().Length > 60)
                {
                    <p>@Umbraco.Field("Plan3Text").ToString().Substring(0, 60) &gt;</p>
                }
                else
                {
                    <p>@Umbraco.Field("Plan3Text").ToString()</p>
                }
            </a>
        </div>
    </div>
</div>

<div class="bottom-cta row-fluid">
    <div class="span4">
        @Umbraco.Field("Highlight1")
    </div>

    <div class="span4">
        @Umbraco.Field("Highlight2")
    </div>

    <div class="span4">
        @Umbraco.Field("Highlight3")
    </div>
</div>