@using HRI.Controllers

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";

    <!-- These if statements are used to associate a service providers name with their SAML name in the SAML.config file -->
    var url = HttpUtility.HtmlDecode(Umbraco.Field("IframeUrl").ToHtmlString().ToString()); 
    var targetUrl = @Umbraco.Field("samlTargetUrl").ToString();
    var pageType = @Umbraco.Field("pageType").ToString();
    if (pageType == "Redirect into same tab")
        Response.Redirect(targetUrl);
    
    var sp = "";
    if (@Umbraco.Field("serviceProvider").ToString() == "Morneau Shepell")
        sp = "SBCSystems";
    else if (@Umbraco.Field("serviceProvider").ToString() == "MagnaCare")
        sp = "MagnaCare";
    else if (@Umbraco.Field("serviceProvider").ToString() == "US Script")
        sp = "USScript";
    else if (@Umbraco.Field("serviceProvider").ToString() == "Adam / Ebix")
        sp = "AdamEbix";
    else if (@Umbraco.Field("serviceProvider").ToString() == "HealthX")
        sp = "https://secure.healthx.com/PublicService/SSO/AutoLogin.aspx";
    else 
        throw new NotImplementedException(string.Format("Unknown service provider: '{0}'.", Umbraco.Field("serviceProvider")));
    
    <!-- If the url needs the Ebix Id parameter added to it-->          
	var frameHeight = Umbraco.Field("frameHeight").ToString();
	if(frameHeight==""){ frameHeight = "900px";}
	
}

<div class="hri-common-hp row-fluid">
    <div class="span12">
        @if(Umbraco.Field("sendSamlAssertion").ToString().ToLower() == "true")
        {
            <iframe name="serviceProviderIFrame" src='#' width='99%' height='1000px' style='margin-left: 3px'></iframe>
            <script type="text/javascript">
                function loadIFrame() {
                    document.getElementById("urlLoader").click();
                };
                window.onload = function () { loadIFrame(); };
            </script>
        }
        else
        {
            if (@Umbraco.Field("sendEbixId").ToString().ToLower() == "true")
            {            
                <script>
                    $.ajax({
                        url: "/umbraco/api/HriApi/GetEbixIdByUserName?username=@Membership.GetUser().UserName",
                        success: function (data) {
                            var url = '@url' + '&amp;uid=' + data.replace(/\"/g, "");
                            console.log(url);
                            $('<iframe name="iframe" src="' + url + '" width="99%" height="@frameHeight" style="margin-left: 3px"></iframe>').appendTo('.hri-common-hp div');
                        },
                        dataType: 'html'
                    });
                </script>
             }
            else
            {
                <iframe name="iframe" src='@Umbraco.Field("IframeUrl")' width='99%' height='@frameHeight' style='margin-left: 3px'></iframe>
            }
        }
	</div>

    
    <br />
    
   
    <br />
    
    @using (Html.BeginUmbracoForm<MembersSurfaceController>("SingleSignOn", new { attributes = "-1", targetUrl = targetUrl, partnerSP = sp }, new { target = "serviceProviderIFrame" }))
    {
        <button style="display: none;" id="urlLoader" type="submit" class="btn hri-btn"></button>
    }

	
</div>		