@using System.Web.Optimization
@inherits UmbracoTemplatePage
@{
    Layout = null;
    var pageTitle = Model.Content.GetProperty("menuItemName");
}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Health Republic Insurance of New York @(pageTitle.HasValue ? "- " + pageTitle.Value : String.Empty)</title>
        <meta http-equiv="cache-control" content="public">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="follow, all">
        <meta name="language" content="en-us">
        <meta content="text/css" http-equiv="Content-Style-Type">
        <meta name="author" content="Health Republic Insurance of New York">
        <meta name="description"
              content="Health Republic Insurance of New York is a non-profit consumer operated and oriented health insurance plan serving the people of New York State.">
        <meta name="keywords"
              content="Health Republic,Health Republic Insurance,CO-OP,Health Services,Consumer Operated and Oriented Plan,Affordable Care Act,Health Republic Insurance of New York,New York co-op,New York coop,Health Republic New York,Health Republic Insurance New York">
        <meta property="og:site_name" content="Health Republic Insurance of New York">
        <meta property="og:type" content="non_profit">
        <meta property="og:title" content="Home">
        <meta property="og:description"
              content="Health Republic Insurance of New York is a non-profit consumer operated and oriented health insurance plan serving the people of New York State.">
        <meta property="og:url" content="http://newyork.healthrepublic.us/">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="http://newyork.healthrepublic.us/">
        <meta name="twitter:title" content="Home">
        <meta name="twitter:description"
              content="Health Republic Insurance of New York is a non-profit consumer operated and oriented health insurance plan serving the people of New York State.">
        <link rel="shortcut icon" href="/images/favicon.ico">
        @Styles.Render("~/bundles/css")
        @Styles.Render("~/bundles/css/mobile")
        @Scripts.Render("~/bundles/js")
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-56303817-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
<body lang="en" class="hri hri-common hri-newyork">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div id="main">
                    @Html.Partial("Header")
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/custom.js"></script>
</body>
</html>