@using HRI.Services
@inherits UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
    var announcements = new MemberAnnouncementsService().GetList().ToList();
}
<div id="hri-content" class="hri-member-center">
    <div class="row-fluid">
        <div class="span8">
            <div class="content">
                <div class="offset1">
                    <h2 class="page-title">Member Center</h2><br>
                </div>
            </div>
            <div id="member-center" class="content">
                <div class="row-fluid">
                    <div class="span10 offset1">
                        @Umbraco.Field("Row1Content")
                        
                        @if (announcements.Any())
                        {
                            <p><span class="lead">Important Messages and Announcements</span></p>
                        }
                        @foreach (var item in announcements)
                        {
                            <div class="mc-announce">
                                <div class="row-fluid">
                                    <div class="span12 content">
                                        @Html.Raw(item.ShortMessage)
                                        <p><a href="@item.Url">Read more</a></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }

                        <div class="row-fluid">

                            <div class="span6">
                                @Umbraco.Field("Row2Column1Content")
                            </div>
                            <div class="span6">
                                @if (Roles.IsUserInRole("Billing"))
                                {
                                    @Umbraco.Field("Row2Column2Content")
                                }
                                else
                                {
                                    @Umbraco.Field("Row2Column2ContentNonBilling")
                                }
                            </div>
                        </div><br>
                        <div class="row-fluid">
                            <div class="span12">
                                <div style="border: 1px solid #ddd">
                                    <div class="row-fluid">
                                        <div class="span1">

                                            <p></p>
                                        </div>
                                        <div class="span10">
                                            @Umbraco.Field("GeneralHealthAssessment")
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row-fluid">
                            <div class="span12">
                                <div style="border: 1px solid #ddd">
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <img src="/images/health-body.png">
                                            <p></p>
                                        </div>
                                        <div class="span8">
                                            @Umbraco.Field("Row3Content")
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row-fluid">
                            <div class="span12">
                                <div style="border: 1px solid #ddd; padding: 15px;">
                                    <div class="span12">
                                        @Umbraco.Field("Row4Content")
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="span4 navigation">
            <ul class="unstyled expand-list">
                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>My Profile & Benefits</span></h3>
                    <div class="expand-content" style="display: none;">
                        <ul>
							<li><a href="/your-account/membership-profile/">My Membership Profile</a></li>
                            <li><a href="/your-account/my-profile/">My Profile</a></li>
                            <li><a href="/your-account/my-current-plan/">My Current Plan</a></li>
                        </ul>
                    </div>
                </li>

                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>My Account Info</span></h3>
                    <div class="expand-content" style="display: none;">
                        <ul>
                            <li><a href="/your-account/change-email/">Change Email</a></li>
                            <li><a href="/your-account/change-password/">Change Password</a></li>
                        </ul>
                    </div>
                </li>

                @if (Roles.IsUserInRole("Billing"))
                {
                    <li class="expand-group">
                        <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>Billing</span></h3>
                        <div class="expand-content" style="display: none;">
                            <p>Manage your payment options to suit your needs.</p>
                            <ul>
                                <li><a href="/billing/billing/">Pay your monthly bill</a></li>
                            </ul>
                        </div>
                    </li>
                }

                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>My Claims</span></h3>
                    <div class="expand-content" style="display: none;">
                        <p><a href="/your-account/my-claims/">View claims</a> for services received from your provider.</p>
                    </div>
                </li>

                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>Pharmacy</span></h3>
                    <div class="expand-content" style="display: none;">
                        <p><a href="/your-account/pharmacy/" target="_blank">Search for a pharmacy, get information on prescribed drugs and their costs, and more.</a></p>
                    </div>
                </li>

                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>Temporary ID Card</span></h3>
                    <div class="expand-content" style="display: none;">
                        <p><a href="/your-account/temporary-id-card/">Print</a> a temporary copy of your Member ID card.</p>
                    </div>
                </li>

                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>Eligibility</span></h3>
                    <div class="expand-content" style="display: none;">
                        <p><a href="/your-account/eligibility/">View Coverage information</a>: See who's covered, the coverage dates, and the Member IDs for your plan.</a></p>
                    </div>
                </li>

                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>My Resourcess</span></h3>
                    <div class="expand-content" style="display: none;">
                        <p><a href="/my-resources/resources/">Resources</a> to help make your plan easy to use and easy to understand.</p>
                    </div>
                </li>

                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>Find a Provider</span></h3>
                    <div class="expand-content" style="display: none;">
                        <p>Need a doctor, clinic or pharmacy? We make it easy to <a href="/find-a-provider/index/">find the care you need</a> - where and when you want it.</p>
                    </div>
                </li>
                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>Talk to a Doctor</span></h3>
                    <div class="expand-content" style="display: none;">
                        <p>
                            <a href="/your-account/talk-to-a-doctor/" target="_blank">Click here</a> to access your StatDoctors account.<br />
                            (You will be asked to register if you have not already.)<br /><br />
                            StatDoctors are board-certified physicians available 24/7 and free of charge as long as your premium payments are received and processed.<br /><br />
                            For more information about StatDoctors, click <a href="/for-members/stat-doctors/">here</a>.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>