@using HRI.Services;
@inherits UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
    var announcements = new MemberAnnouncementsService().GetList().ToList();
    var memberService = new MemberCenterService();
    var rightMenu = memberService.GetRightMenu();
    var welcomeMessage = memberService.GetWelcomeMessage();
    var passwordExpirationMessage = new UserService().GetPasswordExpirationMessage();
}
<div id="hri-content" class="hri-member-center">
    <div class="row-fluid">
        <div class="span8">
            <div class="content">
                <div class="offset1">
                    <h2 class="page-title">Member Center</h2><br>
                </div>
            </div>
            <div id="member-center" class="content">
                <div class="row-fluid">
                    <div class="span10 offset1">
                        <span class="lead">@welcomeMessage</span>
                        @Umbraco.Field("Row1Content")
                        
                        @if (announcements.Any())
                        {
                            <p><span class="lead">Important Messages and Announcements</span></p>
                        }
                        @if (passwordExpirationMessage != null)
                        {
                            <div class="mc-announce">
                                <div class="row-fluid">
                                    <div class="span12 content">
                                        @Html.Raw(passwordExpirationMessage.Message)
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                        @foreach (var item in announcements)
                        {
                            <div class="mc-announce">
                                <div class="row-fluid">
                                    <div class="span12 content">
                                        @Html.Raw(item.ShortMessage)
                                        <p><a href="@item.Url">Read more</a></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }

                        <div class="row-fluid">

                            <div class="span6">
                                @Umbraco.Field("Row2Column1Content")
                            </div>
                            <div class="span6">
                                @(Roles.IsUserInRole("Billing") ? Umbraco.Field("Row2Column2Content") : Umbraco.Field("Row2Column2ContentNonBilling"))
                            </div>
                        </div><br>
                        <div class="row-fluid">
                            <div class="span12">
                                <div style="border: 1px solid #ddd">
                                    <div class="row-fluid">
                                        <div class="span1">

                                            <p></p>
                                        </div>
                                        <div class="span10">
                                            @Umbraco.Field("GeneralHealthAssessment")
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row-fluid">
                            <div class="span12">
                                <div style="border: 1px solid #ddd">
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <img src="/images/health-body.png">
                                            <p></p>
                                        </div>
                                        <div class="span8">
                                            @Umbraco.Field("Row3Content")
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row-fluid">
                            <div class="span12">
                                <div style="border: 1px solid #ddd; padding: 15px;">
                                    <div class="span12">
                                        @Umbraco.Field("Row4Content")
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="span4 navigation">
            <ul class="unstyled expand-list">
            @foreach (var item in rightMenu)
            {
                <li class="expand-group">
                    <h3 class="expand-link"><span class="expand-toggle">[ + ]</span><span>@item.Title</span></h3>
                    <div class="expand-content" style="display: none;">
                        @Html.Raw(item.Description)
                        <ul>
                            @foreach (var subitem in item.Items)
                            {
                                <li><a href="@subitem.Url">@subitem.Title</a></li>
                            }
                        </ul>
                    </div>
                </li>
            }
            </ul>
        </div>
    </div>
</div>