@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-staff">
        <div class="row-fluid">
          <div class="main-lead">
            <div class="span4">
              <h3>Provider</h3>
              <ul class="unstyled inline breadcrumbs">
                <li><a href="/">Home</a></li> › <li>Provider</li>
              </ul>
            </div>

            <div class="span7 offset1">
              <p>How do we balance our primary goal of providing affordable care with the needs of the doctors and other medical providers who care for our members? We listen to our community. Our Provider Manual and supporting materials are the start of the conversation but we want to hear from you and establish a genuine dialogue and collaboration.</p>

            </div>

          </div>
        </div>

        <div class="row-fluid">
          <div class="span5 offset1">

            <div class="generic-block">
				@Umbraco.Field("Block1Content")
            </div>

            <div class="generic-block">
              @Umbraco.Field("Block2Content")
            </div>

            <div class="generic-block">
              @Umbraco.Field("Block3Content")
            </div>

          </div>
          <div class="span5">

            <div class="generic-block">
              @Umbraco.Field("Block4Content")
            </div>

            <div class="generic-block">
              @Umbraco.Field("Block5Content")
            </div>

          </div>
        </div>
      </div>