@using Lucene.Net.Util
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    This snippet makes a breadcrumb of parents using an unordred html list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor get go back
    - Finally it outputs the name of the current page (without a link)
*@



@if (CurrentPage.Ancestors().Any())
{
    <div class="@Model.MacroParameters["Span"]">
        <h3>@CurrentPage.Name</h3>
        <ul class="unstyled inline breadcrumbs">
            @foreach (var page in CurrentPage.Ancestors().OrderBy("Level").Skip(1))
            {
                <li><a href="@page.Url">@page.Name</a>  ›</li>
            }
            @* Display the current page as the last item in the list *@
            <li>@CurrentPage.Name</li>
        </ul>
    </div>
}