@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var itemClass = Convert.ToInt32(Model.MacroParameters["isFirst"]) == 1 ? "item active" : "item";
}


<div class="@itemClass">
    <div class="slide">
        <h1>@Model.MacroParameters["caption"]</h1>
        <a href='@Model.MacroParameters["href"]' class="btn btn-small hri-btn">
            @Model.MacroParameters["buttonText"]<span class="caret"></span>
        </a>
    </div>
    @{
        var dynamicMediaItem = Umbraco.Media(@Model.MacroParameters["image"]);
        <img src="@dynamicMediaItem.umbracoFile" alt='@Model.MacroParameters["image"]' />
    }
</div>	